<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whr.dao.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.example.whr.bean.Menu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parentId" property="parentId"/>
        <result column="isParent" property="isParent"/>
        <result column="name" property="name"/>
        <result column="iconCls" property="iconCls"/>
        <result column="keepAlive" property="keepAlive"/>
        <result column="parentId" property="parentId"/>
        <!--   递归调用，调用同一个方法     -->
        <collection property="children" ofType="com.example.whr.bean.Department" select="getDepByPid" column="id">
        </collection>
    </resultMap>
    <select id="getDepByPid" resultMap="BaseResultMap">
          select * from department d where d.parentId = #{pid} and d.enable = true
    </select>

    <!--  statementType调用表示这是一个存储过程  -->
    <select id="addDep" statementType="CALLABLE">
        call
        PRO_ADD_DEPT(
        #{dept.name,mode=IN,jdbcType=VARCHAR},#{dept.parentId,mode=IN,jdbcType=INTEGER},
        #{dept.enabled,mode=IN,jdbcType=BOOLEAN},#{dept.result,mode=OUT,jdbcType=INTEGER},
        #{dept.id,mode=OUT,jdbcType=BIGINT})
    </select>

    <delete id="deleteDep" statementType="CALLABLE">
        call PRO_DEL_DEPT(#{dept.id,mode=IN,jdbcType=INTEGER},#{dept.result,mode=out,jdbcType=INTEGER})
    </delete>

    <select id="getAllDeps" resultType="com.example.whr.bean.Department">
        select  * from  department where enabled = true
    </select>
</mapper>