<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whr.dao.HrMapper">
    <resultMap id="BaseResultMap" type="com.example.whr.bean.Hr">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userface" property="userface"/>
        <result column="remark" property="remark"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.example.whr.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="org.sang.bean.Role" select="com.example.whr.dao.HrMapper.getRolesByHrId"
                    column="id"></collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="com.example.whr.bean.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.example.whr.bean.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>
    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from hr WHERE username=#{username};
    </select>
    <select id="getRolesByHrId" resultType="com.example.whr.bean.Role">
        SELECT r.* FROM hr_role h,role r where h.rid=r.id AND h.hrid=#{id}
    </select>

    <insert id="hrRegister">
        insert into hr (username,password)
        values (#username#,#password#)
    </insert>

    <select id="getHrsByKeywords" resultMap="eagerLoadRoles">
        SELECT
            h.*,
            r.id,
            r.NAME,
            r.nameZh
        FROM
            hr h
            LEFT JOIN hr_role hr ON h.id = hr.hrid
            LEFT JOIN role r ON hr.rid = r.id
        WHERE
            h.id NOT IN ( SELECT hr.hrid FROM hr_role hr JOIN role r ON hr.rid = r.id WHERE r.nameZh = '系统管理员' )
        <if test="keywords != 'all' and keywords != ''">
            AND h.NAME LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY h.id
        limit 10
    </select>

    <update id="updateHr" parameterType="com.example.whr.bean.Hr">
        update hr
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR}
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT}
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteRoleByHrId" parameterType="Long">
        DELETE
        FROM
            hr_role
        WHERE
            hrid = #{hrId}
    </delete>

    <insert id="addRolesForHr">
        INSERT INTO hr_role(hrid,rid) VALUES
        <foreach collection="rids" separator="," item="rid">
            (#{hrId},#{rid})
        </foreach>
    </insert>
    
    <select id="getHrById" parameterType="Long" resultMap="eagerLoadRoles">
        select h.*,r.id as rid,r.name as rname,r.nameZh as rnameZh
        from
          hr h left join hr_role hr on h.id = hr.hrid
          left join role r on hr.rid = r.id
        where  id = #{hrId}
    </select>

    <delete id="deleteHr" parameterType="Long">
        delete from hr wher id = #{hrId}
    </delete>

    <select id="getAllHr" resultType="com.example.whr.bean.Hr">
        select *
        from hr
        <if test="currentId != null">
            where id != #{currentId}
        </if>
    </select>
</mapper>