<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.whr.dao.RoleMapper">

    <select id="roles" resultType="com.example.whr.bean.Role">
        select id,name,nameZh
        from role
        where id != 6
    </select>

    <insert id="addNewRole">
        insert into role
        set name = #{role},nameZh = #{roleZh}
    </insert>

    <delete id="deleteRoleById" parameterType="Long">
        delete from role
        where id = #{rid}
    </delete>
</mapper>